<h2 class="heading">Are you sure you want to do this?</h2>

<p>Removing a Hard Drive cannot be undone.</p>

<p>Once executed, the <strong>hard drive will be gone for good</strong>.</p>

<p>Are you sure you want to do this?</p>

<%= form_tag(hd_remove_path, :method => :delete) do %>
  <%= submit_tag "Yes, I'm sure." %>
<% end %>
