<h2 class="heading">Importing <%= File.basename(@import.filepath) %>...</h2>

<div id="import_status"><%= render 'progress' %></div>

<%= javascript_tag("update_progress_bar('import_status', '#{vm_import_progress_path}');") unless @import.completed? %>

<% unless @import.completed? %>
  <div id="no_background_process">
    If the import remains at 0% for a minute or more,
    it's possible that the background server isn't
    running. Run <strong>script/delayed_job start</strong>
    to start it.
  </div>
<% end %>

<div id="return_to_imports"><%= link_to 'Return to Imports', vm_imports_path %></div>
