<div id="audio" class="data_box">
  <div class="heading">Audio</div>
  <div class="data">
    <div class="label">Host Driver:</div>
    <div class="value"><%= formatted_audio_from_vm(@vm) %></div>
  </div>
</div>
