<div id="general" class="data_box">
  <div class="heading">General</div>
  <div class="data">
    <div class="label">Name:</div>
    <div class="value"><%= @vm.name %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">OS Type:</div>
    <div class="value"><%= @vm.ostype %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Description:</div>
    <div class="value"><%= @vm.description %></div>
    <div class="break"></div>
  </div>
</div>
