<!-- <div id="serial_ports" class="data_box">
  <div class="heading">Serial Ports</div>
  <div class="data">
    <div class="label">TODO</div>
    <div class="value">TODO</div>
    <div class="break"></div>
  </div>
</div> -->
