<div id="shared_folders" class="data_box">
  <div class="heading">Shared Folders (<%= @vm.shared_folders.size %>)</div>
  <% @vm.shared_folders.each do |folder| %>
  <div class="data">
    <div class="label"><%= folder.name %></div>
    <div class="value"><%= folder.hostpath %></div>
    <div class="break"></div>
  </div>
  <% end %>
</div>
