<div id="storage" class="data_box">
  <div class="heading">Storage</div>
  <% @vm.storage_controllers.each do |storage_controller| %>
    <% storage_controller.devices.each_with_index do |device, index| %>
    <div class="data">
      <div class="label"><%= storage_controller.name %> <%= index + 1 %>:</div>
      <div class="value"><%= formatted_display_of_drive(device.image) %></div>
      <div class="break"></div>
    </div>
    <% end %>
  <% end %>
</div>
