<% hidden ||= false %>
<div id="usb" class="data_box" <%=raw 'style="display:none;"' if hidden %>>
  <% if @vm.usb_controller.enabled %>
    <% @vm.usb_controller.interface.device_filters.each_with_index do |device_filter, index| %>
      <div class="data">
        <div class="label">
          Device <%= index + 1 %>:
          <%= device_filter.active ? "(active)" : "(inactive)" %>
        </div>
        <div class="value"><%= device_filter.name %></div>
        <div class="break"></div>
      </div>
    <% end %>
  <% else %>
    <div class="data">
      <div class="label">Disabled</div>
      <div class="break"></div>
    </div>
  <% end %>
</div>
