<div id="audio" class="data_box">
  <div class="heading"><a name="audio">Audio</a></div>

  <div class="subheading">Audio Adapter</div>
  <% if @vm.audio_adapter.enabled %>
    <div class="data">
      <div class="label">Host Audio Driver:</div>
      <div class="value"><%= t("vm.audio_drivers.#{@vm.audio_adapter.audio_driver}") %></div>
      <div class="break"></div>
    </div>
    <div class="data">
      <div class="label">Audio Controller:</div>
      <div class="value"><%= t("vm.audio_controllers.#{@vm.audio_adapter.audio_controller}") %></div>
      <div class="break"></div>
    </div>
  <% else %>
    <div class="data">Disabled</div>
  <% end %>
</div>
